*{
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  /* background-color: rgba(0, 0, 0, 0.719); */
  background-color: hsl(248, 15%, 11%);
  /* background-color: antiquewhite; */
}
.main{
  /* width: 100vw; */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body{
  margin-top: 4em; 
  width: 30em;
  height: 100%;
}
@media screen and (min-width:100px) and (max-width:600px){
  .body{
    margin-top: 3em;
    width: 20em;
    height: 100%;
  }  
}
.header{
  text-align: center;
  font-size: 1.3em;
  color: hsl(251, 9%, 53%);
  font-family: "JetBrains Mono", monospace;
}
.footer{
  color:hsl(251, 9%, 53%);
  margin:1em;
  text-align: center;
}
