*{
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  /* background-color: rgba(0, 0, 0, 0.719); */
  background-color: rgb(54, 69, 77);
  /* background-color: antiquewhite; */
}
.main{
  /* width: 100vw; */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body{
  margin-top: 10%; 
  width: 40%;
  height: 100%;
}
.header{
  text-align: center;
  font-size: 1em;
  background-color: gray;
  /* padding: 0.5em 1em; */

}
.password{
  margin-top: 3%;
  background-color: gray;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.8em;
}
.new-password{
  background-color: transparent;
  font-size: 2em;
}
.copy-icon{
  display: flex;
  /* align-items: center;
  justify-content: center; */
  background-color: transparent;
  background-image: url("/public/assets/images/copy-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 3em;
  height: 3em;
}