*{
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  /* background-color: rgba(0, 0, 0, 0.719); */
  background-color: rgb(54, 69, 77);
  /* background-color: antiquewhite; */
}
.main{
  /* width: 100vw; */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body{
  margin-top: 10%; 
  width: 40%;
  height: 100%;
}
.header{
  text-align: center;
  font-size: 1em;
  color: aliceblue;
  /* background-color: gray; */
  /* padding: 0.5em 1em; */

}
